---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="br" hero>
  <div>
    <Header>just a test</Header>
    <p>
      It’s Bad Ritual that will make you feel good. Trio from Wrocław plays
      songs flooded with disturbing, cinematic atmosphere. The band is in
      process of recording their debut album.
    </p>
    <section class="m-12">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/h76PV-f2fQc?si=XxZCyGr4bKAawjlE&start=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        class="mx-auto"
      >
      </iframe>
    </section>
  </div>
</Layout>
